# Virtual environment
venv/

# Python cache
# --- Python Cache ---
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Editor / OS junk
.vscode/
.DS_Store

# Alembic
alembic/versions/__pycache__/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
